.submitbutton{
	font-size:80%;

}
#name, #body, #validate{
position: absolute;
left: 50vh;
font-size: 100%;
width:40vw;


}


@media only screen and (max-width: 1080px) {
	#name, #body, #validate{
		width:30vw;
		position: absolute;
		left:30vh;


	}
	.submitbutton{
		font-size:140%;
	}
}